body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 90px; /* 16px == 100% == 1em*/
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem; /* == 40px*/
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skills {
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}
